# For the content of the tutorials
tqdm
numpy>=1.24
matplotlib>=3.7
astropy>=5.3
pyvo>=1.5
astroquery>=0.4.10
scipy>=1.10
pyarrow>=10.0.1
hpgeom
pandas>=1.5.2
dask[distributed]
psutil
ray ; python_version < "3.13"
s3fs
firefly-client>=3.2.0
jupyter-firefly-extensions
reproject
photutils>=2.0
fsspec
sep>=1.4
# For supporting myst-based notebooks
jupytext
