# For the content of the tutorials, these packages are used directly or are
# undeclared optional dependencies of functionalities we rely on
#
tqdm
numpy>=1.24,<=2.2
matplotlib>=3.7
astropy>=5.3
pyvo>=1.5
astroquery>=0.4.10
scipy>=1.10
pyarrow>=10.0.1
hpgeom
pandas>=1.5.2
dask[distributed]
psutil
ray
s3fs
firefly-client>=3.2.0
jupyter-firefly-extensions
reproject
photutils>=2.0
fsspec
sep>=1.4
h5py
requests
lsdb
# For supporting myst-based notebooks
jupytext
# Making admonotions look nice for the myst notebooks
jupyterlab-myst
