# For the content of the tutorials
numpy
matplotlib
astropy
pyvo>=1.5
scipy
pyarrow>=10.0.1
hpgeom
pandas>=1.5.2
dask[distributed]
psutil
s3fs
firefly_client
jupyter_firefly_extensions
# For supporting myst-based notebooks
jupytext
