name: Test notebooks

on:
  pull_request:
  schedule:
    - cron: '0 8 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    # Do not run the test matrix on PRs affecting the rendering
    if: >-
      (!(github.event_name == 'pull_request') || !contains(github.event.pull_request.labels.*.name, 'html rendering / skip testing')) &&
      github.repository == 'Caltech-IPAC/irsa-tutorials'

    name: ${{ matrix.os }} ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        # Run all supported OS for one Python version, then add a few extra scenarios
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.12']
        toxenv: [py312-test]
        name: ['with Python 3.12',]

        include:
          - python-version: '3.10'
            toxenv: py310-test-oldestdeps
            name: with Python 3.10 and oldest versioned dependencies
            os: ubuntu-latest

          - python-version: '3.13'
            toxenv: py313-test-devdeps
            name: with Python 3.13 and developer versioned dependencies
            os: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install --upgrade tox

      - name: Test with tox
        run: tox ${{ matrix.toxargs }} -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}


  gha_buildhtml:
    # When label is used, we do run buildhtml on GHA to check if the publishing job will run or not.
    # Use in case when new content has run into troubles on CircleCI.
    # Note that we run this job once the tests job is done.
    if: >-
      ((github.event_name == 'pull_request') && contains(github.event.pull_request.labels.*.name, 'GHA buildhtml') || (github.event_name == 'schedule')) &&
      github.repository == 'Caltech-IPAC/irsa-tutorials'
    needs: tests

    name: Buildhtml testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: python -m pip install --upgrade tox

      - name: Execute notebooks as testing
        run: tox -e py312-buildhtml
